local_config.php

### Composer

/composer.phar
/composer.lock
/vendor

### Mess files

.~lock.*
.tmp*
**.orig


### OS temporary files

## Mac OS X
.DS_Store
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

## Windows
Thumbs.db

## Linux
*~
